a:link {
  color: #0FF;
}

a:visited {
  color: #0FF;
}

a:hover {
  color: #0FF;
}

body{
  font: "Hiragino Mincho Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif;
  height: calc(100vh - 8em);
  /*padding: 4em;*/
  color: rgba(255,255,255,.75); 
  /*background-color: rgb(25,25,25);  
  background-color: white;
  letter-spacing: 10px; /*文字と文字の間隔をあける
  border-right: solid 60px white;
  border-left: solid 60px white;*/
  background: linear-gradient(-45deg, rgba(246, 255, 0, .8), rgba(255, 0, 161, .8)) fixed,
  url(image/C2_sr_1.jpg) no-repeat center center;
  background-size: cover;
  letter-spacing: 10px;
  border-bottom: 0;
  margin: 0;
}


.line-1{
    position: relative;
    top: 10%;  
    width: 17em;
    margin: 0 auto;
    /*border-right: 2px solid rgba(255,255,255,.75);*/
    border-right: 3px solid #000;
    font-size: 250%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: #000;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
 blinkTextCursor 600ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 17em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #000;}
  to{border-right-color: transparent;}
}


/*スマホ用*/
@media screen and (max-width: 480px) {
  * {
    float: none;
    position: static;
  }
  body {
    letter-spacing: 2px;
  }
    p {
        font-size: 60%;
    }
  .line-1 {
    font-size: 120%;
    max-width: 14em;
  }
}




