/*a {
font-weight:bold;
}*/

a:link {
	color: #136FFF;
}

a:visited {
	color: #7B3CFF;
}

a:hover {
	color: #FF9900;
}

/*a:active {
color:#33CC00;
}*/


/*h1 {
	padding: .10em 0 .5em .5em;
	border-left: 6px solid #ccc;
	border-bottom: 1px solid #ccc;
}*/

/*h1 {
  position: relative;
  padding: 0.25em 0;
}
h1:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
  background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
}*/

/*h1 {
  position: relative;
  padding: 0.2em 0.5em;
  background: -webkit-linear-gradient(to right, rgb(255, 124, 111), #ffc994);
  background: linear-gradient(to right, rgb(255, 124, 111), #ffc994);
  color: white;
  font-weight: lighter;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.56);
  font-weight:800;
}*/

/*h1 {
  position: relative;
  padding: 0.1em 0.5em;
  background: -webkit-linear-gradient(to right, rgb(255, 186, 115), transparent);
  background: linear-gradient(to right, rgb(255, 186, 115), transparent);
  color: #545454;
  font-weight:800;
}*/

h1 {
	position: relative;
	padding: 0 65px;
	text-align: center;
}

h1:before {
	position: absolute;
	top: calc(50% - 1px);
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background: #000;
}

h1 span {
	position: relative;
	padding: 0 1em;
	background: #fff;
}


h2 {
	padding: .10em 0 .5em .5em;
	border-left: 6px solid #FF9933;
	border-bottom: 1px solid #FF9933;
}

/*h2 {
  position: relative;
  padding-left: 25px;
}

h2:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left:0pt;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px orange;
}
h2:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 3px;
  width: 99.6%;
  border-bottom: solid 3px orange;
}*/

h3 {
	border-bottom: solid 3px skyblue;
	position: relative;
	margin-left: 3px;
}

h3:after {
	position: absolute;
	content: " ";
	display: block;
	border-bottom: solid 3px #ffc778;
	bottom: -3px;
	width: 30%;
}

h4 {
	margin-left: 3px;
}

td.example{
	white-space: nowrap;
	vertical-align: top;
}

td.ue{
	vertical-align: top;
}

p {
	/*max-width: 800px;
	min-width: 500px;*/
	max-width: 75vw;
	margin-left: 10px;
}


body{
    font: 14px/1.6 "Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif;
	background-color: white;
	margin: 0;
	border-top: 0;
	border-right: solid 60px #FFFACD;
	border-left: solid 60px #FFFACD;
	/*margin: auto 60px auto 60px;*/
	border-bottom: 0;
	min-height: 100vh;
	margin-top: 50px;
	color: #313131;
}

.logo {
	font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
	width: 100%;
	font-size: 170%;
	line-height: 45px;
	margin-left: 60px;
	padding-top: 5px;  /*文字上部の余白指定*/
    padding-bottom: 5px;   /*文字下部の余白指定*/
}

.logo a:hover {
	transition: 0.3s;
	opacity: 0.5;
}

header {
	display: flex;
	border-bottom: 5px solid #808080; /*下部の線の色を指定*/
	position: fixed;
	width: 100%;
	background-color: white;
	right: 0;
	left: 0;
	top: 0;
	z-index: 1000;
	/*background-color: #f1f1f1;
	position: fixed;
	left:0px ;
	right:0px;
	top: 0;
	z-index: 10;*/
}

header a {
	text-decoration: none; /* リンクの下線を削除 */
}

header a:link {
	color: #313131;
}

header a:visited {
	color: #313131;
}

header a:hover {
	color: #313131;
}

header a:active {
	color: #313131;
}

img {
    width: 100%;
    height: auto;
}

.img-wrap {
  overflow: hidden;
  position: relative;
}

/* 画像を左から右に表示
.img-wrap:before {
  animation: img-wrap 2s cubic-bezier(.4, 0, .2, 1) forwards;
  background: #fff;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

@keyframes img-wrap {
  100% {
    transform: translateX(100%);
  }
}
*/

/*画像を真ん中から表示*/
.img-wrap {
  animation: img-wrap 2s cubic-bezier(.4, 0, .2, 1);
}

@keyframes img-wrap {
  0% {
    clip-path: circle(0 at 50% 50%);
    -webkit-clip-path: circle(0 at 50% 50%);
  }
  
  100% {
    clip-path: circle(100% at 50% 50%);
    -webkit-clip-path: circle(100% at 50% 50%);
  }
}

ul {
	max-width: 65vw;
}

ol {
	max-width: 65vw;
}

ol li {
  padding-top:10px;
  padding-bottom:10px;
}

figure{
	margin: 0;
	padding: 0;
	}

/*****NAV*****/
nav{
	width: 100%; /*横幅の指定*/
	/*border-top: 1px solid orange; 上部の線の色を指定*/
	/*margin-bottom: 5px; */
	overflow: hidden; /*おまじない*/
}
nav ul{
	margin: 0 60px 0 auto;
	width: 80%; /*横幅の指定*/
	list-style: none; /*リストのスタイルを削除*/
	
}
nav li{
	width: calc(100% / 4);	/*横幅の指定*/
	/*border-left: 1px solid orange;	線を描く*/
	/*box-sizing: border-box;  線の幅をliの横幅に含める*/
	text-align: center; /*文字を中央に*/
	float: left;	/*左から並べる*/
}
nav li:last-child{
	/*border-right: 1px solid orange;	li要素の最後の物は右側に線を描く*/
}
nav a{
	display: block;	/*1つのli全体にリンクを有効にする*/
	padding-top: 5px;  /*文字上部の余白指定*/
    padding-bottom: 5px;   /*文字下部の余白指定*/
	text-decoration: none;	/*ブラウザ標準のリンク装飾をオフに*/
	color:#313131;	/*文字色の変更*/
	font-size: 110%;	/*フォントサイズの指定*/
	letter-spacing: 5px; /*文字と文字の間隔をあける*/
	font-weight: 400; /*文字の太さを調整*/
	line-height: 45px; /*行間の指定（ナビボタンの高さ指定）*/
}

nav a:link{
    color: #313131; 
}

nav a:visited{
    color: #313131; 
}


nav a:hover{
	background-color: orange; /*背景色の指定*/
	color: #fff;	/*文字色の変更*/
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s; /*ホバー時の動きをなめらかにする*/
}
	
table {
	max-width: 80vw;
}

.table1 {
  border-collapse: collapse;
  width: 1000px;
  border: 3px solid gray;
  margin: 20px 30px;
}
.table1 th, .table1 td {
  border: 2px solid gray;
}


.inline-block_test {
    display: inline-block;      /* インラインブロック要素にする */
    background-color:  #ccc;    /* 背景色指定 */
    padding: 10px;              /* 余白指定 */
    width: 200px;
    margin: 10px
}

footer{
	font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
	letter-spacing: 1px;
	/*position: fixed;*/
	left: 0;
	right: 0;
    bottom: 0; /*下に固定*/
    font-size: 80%; /*フォントサイズの指定*/
    width: 100%;    /*横幅の指定*/
    text-align: center; /*文字の中央寄せ*/
    padding-top: 15px;  /*文字上部の余白指定*/
    padding-bottom: 15px;   /*文字下部の余白指定*/
    background-color: #313131;  /*背景色の指定*/
    color: #CCCCCC;
}

footer ul {
	display: inline-block;
	list-style-type: none;
	padding-left: 0;
}

footer li {
	display: inline-block;
	text-align: center;
	border-right: 1px solid #EEEEEE;
	padding-right: 10px;
}

footer li:last-child {
	border-right: none;
	padding-right: 0;
	padding-left: 7px;
}

footer a {
	text-decoration: none;
}

footer a:link {
	color: #EEEEEE;
}

footer a:visited {
	color: #EEEEEE;
}

footer a:hover {
	color: #EEEEEE;
	text-decoration: underline;
}

.secret {
	color: white;
}

.secret a:link {
	color: white;
}

.secret a:visited {
	color: white;
}

.secret a:hover {
	color: #FF9900;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s; /*ホバー時の動きをなめらかにする*/
}

.textleft {
   text-align: left;  /* 文章を左寄せする(※) */
   float: left;     /* 左端に寄せて、後続を右側へ回り込ませる */
}
.textright {
   text-align: right; /* 文章を右寄せする */
}



.headersp {
	display: none;
}


/*----------------------レスポンシブ---------------------------*/




/*タブレット縦画面用*/
@media screen and (max-width: 960px) {
	.pc {
		display: none;
	}
	/*-----------------------ハンバーガー------------------------*/
	.headersp {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 5px;
		/*background: #fff;*/
		background-color: white;
	}
	.logosp {
		font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
		font-size: 130%;
		margin-left: 60px;
	}
	.drawer-hidden {
		display: none;
	}
	.drawer-open {
		display: flex;
		height: 60px;
		width: 60px;
		justify-content: center;
		align-items: center;
		/*position: relative;*/
		z-index: 98;/* 重なり順を一番下に */
		cursor: pointer;
		margin: 0 60px 0 auto;
	}
	.drawer-open span,
	.drawer-open span:before,
	.drawer-open span:after {
		content: '';
		display: block;
		height: 3px;
		width: 25px;
		border-radius: 3px;
		background: #333;
		 transition: 0.5s;
		 position: absolute;
	 }
	 .drawer-open span:before {
	 	bottom: 8px;
	 }
	 .drawer-open span:after {
	 	top: 8px;
	 }
	 .drawer-content {
	 	width: 70%;/* ここの割合を小さくすると閉じる部分の領域が広がる */
	 	height: 100%;
	 	position: fixed;
	 	top: 0;
	 	left: 100%;/* メニューを画面外へ */
	 	z-index: 100;/* 重なり順を一番上に */
	 	background: #fff;
	 	transition: .5s;
	  }
	  #drawer-check:checked ~ .drawer-content {
	  	left: 0;/* メニューを画面内へ */
	  }
	  .drawer-close {
	  	width: 100%;
	  	height: 100%;
	  	background: #FF9900;
	  	position: fixed;
	  	top: 0;
	  	left: 100%;/* 閉じるための要素を画面外へ */
	  	z-index: 99;/* 重なり順をメニューより下に*/
	  	transition: .5s;
	  }
	  #drawer-check:checked ~ .drawer-close {
	  	left: 0;/* 閉じるための要素を画面内へ */
	  }

	nav ul {
		font-size: 120%;
		width: 50%;
		margin: 0 auto;
		width: auto;
	}
	
	nav li {
		width: 50%;
		clear: left;
		display: list-item;
		margin-top: 20px;
		margin-bottom: 10px;
		border-bottom: 1px solid #FF9900;
	}
	
	nav a:hover{
		background-color: #fff; /*背景色の指定*/
		color: #313131; /*文字色の変更*/
	}
	
	body {
        font-size: 100%;
        margin-top: 50px;
    }
    footer {
        font-size: 70%;
    }
    p{
	font-size: 90%;
    }
    small {
	    font-size: 40%;
    }
    ol {
	    font-size: 90%;
    }
    ul {
	    font-size: 90%;
    }
    table{
	font-size: 90%;
    }
    h2 {
        font-size: 110%;
    }
    h3 {
        font-size: 100%;
    }
    h4 {
	    font-size: 90%
    }
    nav a{
        letter-spacing: 0px;
        font-size: 90%
    }
    header{
         font-size: 130%;
    }
}

/*スマホ横画面用*/
@media screen and (max-width: 760px) {
    body {
	font-size: 100%;
    }
    footer {
        font-size: 20%;
    }
    p{
	font-size: 80%;
    }
    small {
	    font-size: 40%;
    }
    ol {
	    font-size: 80%;
    }
    ul {
	    font-size: 80%;
    }
    table{
	font-size: 80%;
    }
    h2 {
        font-size: 100%;
    }
    h3 {
        font-size: 90%;
    }
    h4 {
	    font-size: 80%
    }
    nav a{
        letter-spacing: 0px;
        font-size: 90%
    }
    header{
         font-size: 120%;
    }
}

/*スマホ用*/
@media screen and (max-width: 480px) {
    *{
        float: none;
	position: static;
    }
    img {
	max-width: 100%;
	height: auto;
    }
    body {
        border-right: solid 20px #FFFACD;
        border-left: solid 20px #FFFACD;
        font-size: 100%;
    }
    .logosp {
		margin-left: 20px;
	}
    footer {
        font-size: 50%;
    }
    p{
	font-size: 80%;
        /*min-width: 100px;*/
    }
    small {
	    font-size: 40%;
    }
    ol {
	    font-size: 80%;
    }
    ul {
	    font-size: 80%;
    }
    table{
	font-size: 80%;
    }
    h2 {
        font-size: 100%;
    }
    h3 {
        font-size: 90%;
    }
    h4 {
	    font-size: 80%
    }
    nav a{
        letter-spacing: 0px;
        font-size: 90%
    }
    /*nav li{
        width: calc(100% / 6);
    }*/
    header {
	    font-size: 90%;
	}
    footer {
        font-size: 20%;
    }
    .drawer-open {
		margin: 0 20px 0 auto;
	}
}









